tags
*.o
*.ho
*.a
*.d
builtin.c
init
telinit
statictab
run
test/*
misc/*
!test/*.[ch]
!test/*.txt
!test/*.px
!test/*.sh
!test/*.bin
!test/Makefile
test/proto.c
!test/etc
*.[58]
.*.swp
temp/
sbin/trap
!misc/buildroot
