# Inittab syntax:
#
#	VARIABLE=value
#
# 	code   name   command arg arg arg ...

# Environment
PATH=/bin:/sbin:/usr/bin
LOCALE=C

# System initialization
W	rw	/sbin/mount -o remount,rw /
S	-	/sbin/syslogd -n
O	-	/sbin/hwlock -s

# VTs
S1	su	/sbin/sulogin
S2345	tty1	/sbin/agetty --noclear -8 -s 38400 tty1 linux
S2345	tty2	/sbin/agetty -8 -s 38400 tty2 linux
S2345	tty3	/sbin/agetty -8 -s 38400 tty3 linux
S2345	tty4	/sbin/agetty -8 -s 38400 tty4 linux
S2345	tty5	/sbin/agetty -8 -s 38400 tty5 linux
S2345	tty6	/sbin/agetty -8 -s 38400 tty6 linux

# Shutdown
W0	ro	/sbin/mount -o remount,ro /
